// WishlistItem.module.scss

// Handle styles manually
// WishlistItem image styles
.img-wrapper {
  width: 100%;
  height: 266px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #efecf4;

  .wishlist-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// WishlistItem title styles
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Giới hạn tối đa 1 dòng */
  overflow: hidden; /* Ẩn nội dung vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
}

// WishlistItem description styles
.desc {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 10px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Giới hạn tối đa 3 dòng */
  overflow: hidden; /* Ẩn nội dung vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
}

// WishlistItem price styles
.price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;

  // New price styles
  .new-price {
    color: var(--green);
  }

  // Original price styles
  .original-price {
    color: hsl(221, 16%, 50%);
    text-decoration: line-through;
  }

  // Discount percent styles
  .discount-percent {
    padding: 5px 12px;
    font-size: 1.4rem;
    color: #ff3333;
    border-radius: 999px;
    background-color: #ffebeb;
  }
}

.modal-title {
  color: #222;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.modal-row {
  color: #444;
  margin-bottom: 10px;

  b {
    color: #3d74b6;
  }
}

// WishlistItem styles
.wishlist-item {
  padding: 16px;
  cursor: pointer;
  min-height: 400px;
  position: relative;
  border-radius: 12px;
  color: #333;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  background-color: #d9d2e5;
  box-shadow: var(--default-boxshadow-element);

  // 3-dot button styles
  .dot-btn {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 100;
  }

  // Heart button styles
  .heart-btn {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 100;
    color: #e53888;
    background-color: #f7a8c4;
  }

  // Center modal horizontally and vertically
  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  // Modal styles
  .modal {
    position: relative;
    padding: 32px;
    min-width: 200px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 4px 24px #e0e7ff;
    animation: fadeInCenter 0.3s ease;
  }

  // Animation for modal
  @keyframes fadeInCenter {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  // Close button styles
  .close-btn {
    position: absolute;
    top: 10px;
    right: 14px;
    border: none;
    font-size: 2rem;
    color: #888;
    background-color: transparent;
    z-index: 2;

    &:hover {
      cursor: pointer;
      color: #2563eb;
    }
  }
}

// Responsive
// Xử lý breakpoints từ 1200px -> 1399px (xl)
@media screen and (min-width: 1200px) and (max-width: 1399.5px) {
  .img-wrapper {
    height: 220px;
  }
}

// Xử lý breakpoints từ 768px -> 1199px (md, lg)
@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .img-wrapper {
    height: 287px;
  }
}
// Xử lý breakpoints từ 768px -> 991px (md)
@media screen and (min-width: 768px) and (max-width: 991.5px) {
  .modal {
    max-width: 620px;
  }
}

// Xử lý breakpoints từ 576px -> 767px (sm)
@media screen and (min-width: 576px) and (max-width: 767.5px) {
  .img-wrapper {
    height: 441px;
  }

  .modal {
    max-width: 520px;
  }
}

// Xử lý breakpoints từ 0px -> 575px (none)
@media screen and (max-width: 575.5px) {
  .img-wrapper {
    height: 0;
    position: relative; /* Để chứa nội dung bên trong */
    padding-bottom: 100%; /* padding-bottom bằng 100% chiều rộng */

    .wishlist-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Đảm bảo hình ảnh lấp đầy mà không méo */
    }
  }

  .modal {
    max-width: 320px;
  }
}
