.wrapper {
  margin-top: var(--default-layout-header-height);
  padding-bottom: var(--default-layout-header-height);
  background: linear-gradient(90deg, #e0e7ff 0%, #fdf6e3 100%);
}

// Xử lý breakpoints từ 0px -> 767px (sm, md)
@media screen and (max-width: 767.5px) {
  .category-list {
    margin-top: 60px;
  }
}
