@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --gray: #f0f0f0;
  --green: #06923e;
  --default-layout-header-height: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;

  .navbar-logo {
    font-weight: bold;
    font-size: 3.2rem;
  }
}

input,
button,
[tabIndex] {
  border: none;
  outline: none;
}

a[href] {
  text-decoration: none;
}
