@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --gray: #f7f7f7;
  --green: #06923e;
  --border-radius-product-img: 26px;
  --background-product-img: #efecf4;
  --default-layout-header-height: 60px;
  --default-boxshadow-element: 0 2px 8px rgba(22, 24, 35, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;

  .navbar-logo {
    font-weight: bold;
    font-size: 3.2rem;
  }
}

input,
button,
[tabIndex] {
  border: none;
  outline: none;
}

a[href] {
  text-decoration: none;
}

// Card decs in Category Page
.Card_card-wrapper__I3yXf.custom-card {
  .Card_product-desc__V4s-E,
  .Card_product-desc__7GaIC {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Giới hạn tối đa 3 dòng */
    overflow: hidden; /* Ẩn nội dung vượt quá */
    text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
  }
}

// Responsive for Category Page - Local host
// Xử lý breakpoints từ 1200px -> 1399px (xl)
@media screen and (min-width: 1200px) and (max-width: 1399.5px) {
  .Card_card-wrapper__I3yXf.custom-card {
    .Card_img-wrapper__3jsmf {
      width: 100%;
      height: 410px;
    }

    .Card_product-desc__V4s-E {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* Giới hạn tối đa 2 dòng */
      overflow: hidden; /* Ẩn nội dung vượt quá */
      text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
    }
  }
}

// Xử lý breakpoints từ 992px -> 1199px (lg)
@media screen and (min-width: 992px) and (max-width: 1199.5px) {
  .Card_card-wrapper__I3yXf.custom-card {
    .Card_img-wrapper__3jsmf {
      height: 302px;
    }
  }
}

// Xử lý breakpoints từ 768px -> 991px (md)
@media screen and (min-width: 768px) and (max-width: 991.5px) {
  .Card_card-wrapper__I3yXf.custom-card {
    .Card_img-wrapper__3jsmf {
      height: 222px;
    }

    .product-title {
      white-space: nowrap; /* Ngăn văn bản xuống dòng */
      overflow: hidden; /* Ẩn nội dung vượt quá kích thước container */
      text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi văn bản bị cắt */
    }

    // Style cho nút Buy now và Add to Wishlist
    ~ .Card_buttons__fSQvW {
      flex-direction: column;

      .Card_button__jIqww {
        width: 100%;

        .Button_square__i7jDA.Button_blackStyle__tZ8RZ,
        .Button_square__i7jDA.Button_wishlistStyle__JKN3x {
          width: 100%;
          padding: 0 8px; // Giảm padding
        }
      }
    }
  }
}

// Xử lý breakpoints từ 576px -> 767px (sm)
@media screen and (min-width: 576px) and (max-width: 767.5px) {
  .Card_card-wrapper__I3yXf.custom-card {
    .Card_img-wrapper__3jsmf {
      width: 100%;
      height: 525px;
    }
  }
}

// Xử lý breakpoints từ 0px -> 575px (none)
@media screen and (max-width: 575.5px) {
  .Card_card-wrapper__I3yXf.custom-card {
    .Card_img-wrapper__3jsmf {
      height: 0;
      width: 100%;
      position: relative; /* Để chứa nội dung bên trong */
      padding-bottom: 100%; /* padding-bottom bằng 100% chiều rộng */

      .Card_product-img__0p1T6 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Đảm bảo hình ảnh lấp đầy mà không méo */
      }
    }
  }
}

// Responsive for Category Page - Vercel
// Xử lý breakpoints từ 1200px -> 1399px (xl)
@media screen and (min-width: 1200px) and (max-width: 1399.5px) {
  .Card_card-wrapper__6RKhO.custom-card {
    .Card_img-wrapper__r7wY2 {
      width: 100%;
      height: 410px;
    }
  }
}

// Xử lý breakpoints từ 992px -> 1199px (lg)
@media screen and (min-width: 992px) and (max-width: 1199.5px) {
  .Card_card-wrapper__6RKhO.custom-card {
    .Card_img-wrapper__r7wY2 {
      height: 302px;
    }
  }
}

// Xử lý breakpoints từ 768px -> 991px (md)
@media screen and (min-width: 768px) and (max-width: 991.5px) {
  .Card_card-wrapper__6RKhO.custom-card {
    .Card_img-wrapper__r7wY2 {
      height: 222px;
    }

    .product-title {
      white-space: nowrap; /* Ngăn văn bản xuống dòng */
      overflow: hidden; /* Ẩn nội dung vượt quá kích thước container */
      text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi văn bản bị cắt */
    }

    .Card_product-desc__7GaIC {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4; /* Giới hạn tối đa 4 dòng */
      overflow: hidden; /* Ẩn nội dung vượt quá */
      text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
    }

    ~ .Card_buttons__SBBFa {
      flex-direction: column;

      .Card_button__hEwJW {
        .Button_square__R92FB.Button_blackStyle__Sc531,
        .Button_square__R92FB.wishlist-btn {
          width: 100%;
          padding: 0 8px; // Giảm padding
        }
      }
    }
  }
}

// Xử lý breakpoints từ 576px -> 767px (sm)
@media screen and (min-width: 576px) and (max-width: 767.5px) {
  .Card_card-wrapper__6RKhO.custom-card {
    .Card_img-wrapper__r7wY2 {
      width: 100%;
      height: 525px;
    }
  }
}

// Xử lý breakpoints từ 0px -> 575px (none)
@media screen and (max-width: 575.5px) {
  .Card_card-wrapper__6RKhO.custom-card {
    .Card_img-wrapper__r7wY2 {
      height: 0;
      width: 100%;
      position: relative; /* Để chứa nội dung bên trong */
      padding-bottom: 100%; /* padding-bottom bằng 100% chiều rộng */

      .Card_product-img__0p1T6 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Đảm bảo hình ảnh lấp đầy mà không méo */
      }
    }
  }
}
