.wrapper {
  min-height: 100px;
  background-color: var(--gray);
}

.footer-title {
  margin: 0;
  height: 50px;
}

.sub-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 50px;
  letter-spacing: 0.3rem;
}
