.card-wrapper {
  cursor: pointer;
}

.img-wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: var(--default-boxshadow-element);
  border-radius: var(--border-radius-product-img);
  background-color: var(--background-product-img);
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-desc {
  text-align: justify;
  text-justify: inter-word;
}

.rating-img,
.rating-number {
  height: 20px;
}

.new-price {
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--green);
}

.original-price {
  font-weight: bold;
  font-size: 2.4rem;
  color: #a6aebf;
  text-decoration: line-through;
}

.discount-percent {
  padding: 5px 8px;
  font-size: 1.4rem;
  border-radius: 999px;
  color: #ff3333;
  background-color: #ffebeb;
}

// Breakpoints
// Xử lý breakpoints từ 1200px -> 1399px
@media screen and (min-width: 1200px) and (max-width: 1399.5px) {
  .img-wrapper {
    width: 100%;
    height: 270px;
  }
}

// Xử lý breakpoints từ 768px -> 1199px
@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .img-wrapper {
    width: 100%;
    height: 350px;
  }
}

// Xử lý breakpoints từ 0px -> 767px
@media screen and (max-width: 767.5) {
  .card-wrapper {
    .img-wrapper {
      width: 100%;
    }
  }
}
