.wrapper {
  cursor: pointer;
}

.img-wrapper {
  width: 295px;
  height: 298px;
  overflow: hidden;
  box-shadow: var(--default-boxshadow-element);
  border-radius: var(--border-radius-product-img);
  background-color: var(--background-product-img);
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-decs {
  text-align: justify;
  text-justify: inter-word;
}

.rating-img,
.rating-number {
  height: 20px;
}

.new-price {
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--green);
}

.original-price {
  font-weight: bold;
  font-size: 2.4rem;
  color: #a6aebf;
  text-decoration: line-through;
}

.discount-percent {
  padding: 5px 8px;
  font-size: 1.4rem;
  border-radius: 999px;
  color: #ff3333;
  background-color: #ffebeb;
}

// Breakpoints
// From 0 to < 768px
@media screen and (max-width: 767.999px) {
  .img-wrapper {
    width: 100%;
    height: 530px;
  }
}

// From 768px to < 1200px
@media screen and (min-width: 768px) and (max-width: 1199.999px) {
  .img-wrapper {
    width: 100%;
    height: 350px;
  }
}
