.img-wrapper {
  width: 100%;
  height: 190px;
  overflow: hidden;
  border-radius: 16px;
  background-color: #efecf4;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  overflow: hidden;
  width: 100px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--gray);
}

.icon + .quantity,
.quantity + .icon {
  margin-left: 10px;
}

.icon {
  flex: 1;
  height: 100%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;

  &:hover {
    background-color: #d6d6d6;
  }
}

// Xử lý breakpoints từ 1200px -> 1399px
@media screen and (min-width: 1200px) and (max-width: 1399.5px) {
  .img-wrapper {
    height: 160px;
  }
}

// Xử lý breakpoints từ 992 -> 1199px
@media screen and (min-width: 992px) and (max-width: 1199.5px) {
  .img-wrapper {
    height: 284px;
  }
}

// Xử lý breakpoints từ 768px -> 991px
@media screen and (min-width: 768px) and (max-width: 991.5px) {
  .img-wrapper {
    height: 642px;
  }
}

// Xử lý breakpoints từ 576px -> 767px
@media screen and (max-width: 767.5px) {
  .img-wrapper {
    height: 462px;
  }
}

// Xử lý breakpoints từ 0px -> 575px
@media screen and (max-width: 575.5px) {
  .img-wrapper {
    height: 0;
    position: relative; /* Để chứa nội dung bên trong */
    padding-bottom: 100%; /* padding-bottom bằng 100% chiều rộng */

    .product-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Đảm bảo hình ảnh lấp đầy mà không méo */
    }
  }
}
